form {
    display: inline-block;
    width: 100%;
}
    form > .form-row {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }
        form > .form-row:last-of-type {
            margin-bottom: 0;
        }
        form > .form-row > label {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
            color: #777;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
        }
        form > .form-row > input {
            display: inline-block;
            width: 100%;
            font-size: 20px;
            line-height: 30px;
            border: none;
            border-bottom: 2px solid #ccc;
        }
        form > .form-row > span {
            display: inline-block;
            padding: 5px;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 20px;
            line-height: 30px;
        }
        form > .form-row > a {
            display: inline-block;
            padding: 5px;
            font-size: 20px;
            line-height: 30px;
            text-decoration: none;
        }

    @media (max-width: 850px) {
    form > .form-row > span {
        margin-left: 7px;
        margin-right: 7px;
    }
}

@media (max-width: 360px) {
    form > .form-row > label {
        font-size: 12px;
    }
    form > .form-row > input {
        font-size: 15px;
    }
    form > .form-row > span {
        font-size: 15px;
        margin-left: 4px;
        margin-right: 4px;
    }
    form > .form-row > a {
        font-size: 15px;
    }
}